body{
    margin: 0;
    padding: 0;
}

header nav{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}

header nav li{
    display: inline-block;
    margin: 0 20px;
    align-items: center;
    list-style: none;
}

header nav a{
    position: relative;
    text-decoration: none;
    font-weight: bold;
    padding-right: 100px;
    font-size: 25px;
}

.camera{
    display: flex;
    justify-content: center;
}

.camera img{
    width: 640px;
    height: 480px;
    margin-top: 100px;
    border: 5px solid orange;
}

.camera .status{
    margin-top: 100px;
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.camera .status .button{
    right: 50px;
}

.DBform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form .addToDB {
    display: grid;
    grid-template-columns: 60px 500px;
    grid-gap: 30px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

form .button input{
    border: 0px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    pointer-events: auto;
    cursor: pointer;
    font-weight: bold;
}
form .button input:hover{
    background-color: #f2f2f2;
    color: orange;
    border: 2px solid orange;
}



