<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDE GAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('update_present_students_count', function (count) {
                document.getElementById('studentCount').innerText = count;
            });
            document.getElementById('resetButton').addEventListener('click', function () {
                socket.emit('reset_present_students_count');
            });
        });
        
    </script>

</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Evidentiraj studenta</a></li>
                <li><a href="#">Prebroj studente</a></li>
                <li><a href="addStudent.html">Dodaj studenta</a></li>
            </ul>
        </nav>
    </header>

    <div class="camera">
        <img src="{{ url_for('video_feed') }}" alt="Camera Stream">
        <!--<img src="/images/1111.jpg" alt="Camera Stream">-->
        <div class="status" id="statusDiv">
            <p>Broj prisutnih studenata: <span id="studentCount">0</span></p>
            <button id="resetButton">Vrati na 0</button>
        </div>
    </div>



</body>
</html>
